<template name="trackOptions">
  <div class="track-options">
    <div class="instrument" style="background: {{instrumentColor}}">
      <!-- <i class="fa fa&#45;arrow&#45;circle&#45;left"></i> -->
      <span class="instrument-name">{{ instrument }}</span>
      <!-- <i class="fa fa&#45;arrow&#45;circle&#45;right"></i> -->
    </div>
    <div class="volume-slider-container">
      <div class="volume-slider"></div>
    </div>
    <div class="reset-remove">
      <button class="remove-button">
        <i class="fa fa-trash"></i>
      </button>
      <button class="reset-button">
        <i class="fa fa-refresh"></i>
      </button>
      <button class="mute-button">
        <i class="fa fa-volume-up"></i>
      </button>
    </div>
  </div>
</template>
