<template name="track">
  <div class="track-container">
    <div class="select-instrument">
      <select class="select-instrument">
        {{#each instruments}}
          <option {{isSelected ../instrument}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="beat-container">
      <div class="reset-button">R</div>
    </div>
    {{#each beats}}
      {{> beat}}
    {{/each}}
    <div class="volume-slider-container">
      <div class="volume-slider"></div>
    </div>
    <div class="beat-container">
      <div class="remove-track">X</div>
    </div>
  </div>
</template>

<template name="beat">
  <div class="beat-container">
    <div class="beat {{beatClass}}" pos="{{pos}}"></div>
  </div>
</template>
