<template name="trackOptions">
  <div class="track-options">
    <div class="instrument" style="background: {{instrumentColor}}">
      <!-- <i class="fa fa&#45;arrow&#45;circle&#45;left"></i> -->
      <span class="instrument-name">{{ instrument }}</span>
      <!-- <i class="fa fa&#45;arrow&#45;circle&#45;right"></i> -->
    </div>
    <div class="volume-slider-container">
      <div class="volume-slider"></div>
    </div>
    <button class="remove-track">Remove</button>
    <button class="reset-button">Reset</button>
  </div>
</template>
