/* May not work in some older browsers */
@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown.ttf');
}

h1, h2, h3, body {
  font-family: 'Pricedown';
}

body {
  background: #13505B;
  margin: 0 auto;

  font-size: 18px;
  color: #040404;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.global-controls {
  display: relative;
  background: #D7D9CE;
  padding: 10px;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 2px solid #0C7489;
}

  .global-controls .stop-start {
    display: inline;
    margin: 5px;
  }

  .global-controls .reset-beats {
    display: inline;
    background:#0C7489;
    float: right;

    border: 2px solid #0C7489;
  }

  .global-controls .reset-beats:hover {
    background: #119DA4;
  }

/* TRACKS */

.track-container {
  display: table;

  width: 100%;
  margin: 10px 0px;
  /* background: #D7D9CE; */

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 2px solid #0C7489;
}

/* TRACK OPTIONS */

.track-options {
  display: table-cell;
  width: 100px;
  padding: 5px;
}

  .track-options .instrument {
    display: block;

    text-align: center;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #0C7489;
  }

  .track-options .instrument .fa-arrow-circle-left {
    margin: 2px;
    float: left; 
  }

  .track-options .instrument .fa-arrow-circle-right {
    margin: 2px;
    float: right; 
  }

  .track-options .volume-slider-container {
    display: inline-block;
    vertical-align: middle;
  }

  .track-options .volume-slider {
    width: 100px;
  }

  .track-options .reset-button {
    display: inline-block;
    width: 45px;
    border: 1px solid #0C7489;
  }

  .track-options .remove-track {
    display: inline-block;
    width: 45px;
    border: 1px solid #0C7489;
  }

.add-track {
  margin: 0px 30px;
  height: 50px;
  width: 100px;
  color: #0C7489;
}

.add-track {
  background-color: white;
}

.add-track:hover {
  background-color:gray;
}

.add-track:active {
  background-color:orange;
}


/* BEATS */

.beat-container {
  display: inline-block;
  vertical-align: middle;
}

  .beat-container .beat {
    margin: 5px;
    width: 20px;
    height: 30px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #0C7489;
  }

  .beat-container .beat {
    background: #FFE2C7
    background-image: -webkit-linear-gradient(top, #FFE2C7, #D4A376);
    background-image: -moz-linear-gradient(top, #FFE2C7, #D4A376);
    background-image: -ms-linear-gradient(top, #FFE2C7, #D4A376);
    background-image: -o-linear-gradient(top, #FFE2C7, #D4A376);
    background-image: linear-gradient(to bottom, #FFE2C7, #D4A376);
  }

  .beat-container .beat:hover {
    background: #FFCBC7
    background-image: -webkit-linear-gradient(top, #FFCBC7, #D47D76);
    background-image: -moz-linear-gradient(top, #FFCBC7, #D47D76);
    background-image: -ms-linear-gradient(top, #FFCBC7, #D47D76);
    background-image: -o-linear-gradient(top, #FFCBC7, #D47D76);
    background-image: linear-gradient(to bottom, #FFCBC7, #D47D76);
  }

  .beat-container .beat.active {
    background: #865529;
    background-image: -webkit-linear-gradient(top, #865529, #552900);
    background-image: -moz-linear-gradient(top, #865529, #552900);
    background-image: -ms-linear-gradient(top, #865529, #552900);
    background-image: -o-linear-gradient(top, #865529, #552900);
    background-image: linear-gradient(to bottom, #865529, #552900);
  }

  .beat-container .beat.active:hover {
    background: #863029;
    background-image: -webkit-linear-gradient(top, #863029, #550600);
    background-image: -moz-linear-gradient(top, #863029, #550600);
    background-image: -ms-linear-gradient(top, #863029, #550600);
    background-image: -o-linear-gradient(top, #863029, #550600);
    background-image: linear-gradient(to bottom, #863029, #550600);
  }

  .beat-container .beat.current {
    box-shadow: 0px 0px 18px 5px rgba(255, 115, 60, .55);
  }


/* .noUi-handle { */
/*   width: 10px !important; */
/*   height: 10px !important; */
/*   left: -5 !important; */
/*   top: 0 !important; */
/*   box-shadow: none !important; */
/*  */
/*   border: 1px solid #D9D9D9; */
/*   border-radius: 1px; */
/*   background: #FFF; */
/*   cursor: default; */
/*  */
/* } */
