@import "color-palette/color.scss";

.beat-container {
  display: inline-block;
  vertical-align: middle;

  padding-bottom: 5px;
}

  .beat-container .beat {
    position: relative;
    margin: 3px;
    width: 23px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

    -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
            transition: all 0.1s;
  }

  .beat-container .beat:active, .beat-container .beat.active {
    -webkit-transform: translate(0,5px);
    -moz-transform: translate(0,5px);
    transform: translate(0, 5px);
  }

  /* A bunch of colors for each of the four beats
   * taken from the IBM Design Language palette */
  /* http://www.ibm.com/design/language/resources/swatch-book.shtml 
   * I should really use SCSS here... */

    @mixin beat-up($color) {
      background: palette($color, 40);
      -webkit-box-shadow: 0px 6px 0px palette($color, 50);
         -moz-box-shadow: 0px 6px 0px palette($color, 50);
              box-shadow: 0px 6px 0px palette($color, 50);
    }

    @mixin beat-active($color) {
      background: palette($color, 60);
      -webkit-box-shadow: 0px 1px 0px palette($color, 70);
         -moz-box-shadow: 0px 1px 0px palette($color, 70);
              box-shadow: 0px 1px 0px palette($color, 70);
    }

  .beat-container .beat:active {
    -webkit-box-shadow: 0px 1px 0px;
       -moz-box-shadow: 0px 1px 0px;
            box-shadow: 0px 1px 0px;
  }

  // .beat-container:nth-of-type(16n+1) .beat ,
  // .beat-container:nth-of-type(16n+2) .beat ,
  // .beat-container:nth-of-type(16n+3) .beat ,
  // .beat-container:nth-of-type(16n+4) .beat
  // {
  //   @include beat-up("blue");
  // }
  //
  // .beat-container:nth-of-type(16n+1) .beat:active, 
  // .beat-container:nth-of-type(16n+1) .beat.active,
  // .beat-container:nth-of-type(16n+2) .beat:active, 
  // .beat-container:nth-of-type(16n+2) .beat.active,
  // .beat-container:nth-of-type(16n+3) .beat:active, 
  // .beat-container:nth-of-type(16n+3) .beat.active,
  // .beat-container:nth-of-type(16n+4) .beat:active, 
  // .beat-container:nth-of-type(16n+4) .beat.active
  // {
  //   @include beat-active("blue");
  // }
  //
  // .beat-container:nth-of-type(16n+5) .beat ,
  // .beat-container:nth-of-type(16n+6) .beat ,
  // .beat-container:nth-of-type(16n+7) .beat ,
  // .beat-container:nth-of-type(16n+8) .beat
  // {
  //   @include beat-up("green");
  // }
  //
  // .beat-container:nth-of-type(16n+5) .beat:active, 
  // .beat-container:nth-of-type(16n+5) .beat.active,
  // .beat-container:nth-of-type(16n+6) .beat:active, 
  // .beat-container:nth-of-type(16n+6) .beat.active,
  // .beat-container:nth-of-type(16n+7) .beat:active, 
  // .beat-container:nth-of-type(16n+7) .beat.active,
  // .beat-container:nth-of-type(16n+8) .beat:active, 
  // .beat-container:nth-of-type(16n+8) .beat.active
  // {
  //   @include beat-active("green");
  // }
  //
  // .beat-container:nth-of-type(16n+9) .beat ,
  // .beat-container:nth-of-type(16n+10) .beat ,
  // .beat-container:nth-of-type(16n+11) .beat ,
  // .beat-container:nth-of-type(16n+12) .beat
  // {
  //   @include beat-up("purple");
  // }
  //
  // .beat-container:nth-of-type(16n+9) .beat:active, 
  // .beat-container:nth-of-type(16n+9) .beat.active,
  // .beat-container:nth-of-type(16n+10) .beat:active, 
  // .beat-container:nth-of-type(16n+10) .beat.active,
  // .beat-container:nth-of-type(16n+11) .beat:active, 
  // .beat-container:nth-of-type(16n+11) .beat.active,
  // .beat-container:nth-of-type(16n+12) .beat:active, 
  // .beat-container:nth-of-type(16n+12) .beat.active
  // {
  //   @include beat-active("purple");
  // }
  //
  // .beat-container:nth-of-type(16n+13) .beat ,
  // .beat-container:nth-of-type(16n+14) .beat ,
  // .beat-container:nth-of-type(16n+15) .beat ,
  // .beat-container:nth-of-type(16n+16) .beat
  // {
  //   @include beat-up("red");
  // }
  //
  // .beat-container:nth-of-type(16n+13) .beat:active, 
  // .beat-container:nth-of-type(16n+13) .beat.active,
  // .beat-container:nth-of-type(16n+14) .beat:active, 
  // .beat-container:nth-of-type(16n+14) .beat.active,
  // .beat-container:nth-of-type(16n+15) .beat:active, 
  // .beat-container:nth-of-type(16n+15) .beat.active,
  // .beat-container:nth-of-type(16n+16) .beat:active, 
  // .beat-container:nth-of-type(16n+16) .beat.active
  // {
  //   @include beat-active("red");
  // }

  /* INDICATOR */

  .beat-container .beat .indicator {
    position: absolute;
    top: 5px;
    left: 6px;
    width:10px;
    height:10px;
    border-radius:5px;
  }

  .beat-container .beat .indicator {
    background: white;
    opacity: 0.4;
  }

  .beat-container .beat.active .indicator {
    opacity: 0.9;
  }

  .beat-container .beat.active.current .indicator {
    opacity: 0.9;
    background: red;
  }

  .beat-container .beat.current .indicator {
    opacity: 0.9;
    background: yellow;
  }

  #reduceit {
    width: 200px;
    height: auto;
  }
