body {
  background-image: url("/img/escheresque_ste.png");
  margin: 0px 20px;
  text-align: center;

  font-family: serif;
  font-size: 18px;
  color: white;
}

.beatbox-container {
  margin: 20px 0px; 
}

.track-container {
  margin: 10px;
}

  .track-container .volume-control {
  }

  .track-container .beat-container .reset-button {
    margin: 5px;
    width: 20px;
    height: 30px;
    border: 1px solid black;
  }

  .track-container .beat-container .reset-button {
    background-color: blue;
  }

  .track-container .beat-container .reset-button:hover {
    background-color: red;
  }

  .track-container .beat-container .reset-button:active {
    background-color: orange;
  }

.beat-container {
  display: inline-block;
  width: 30px;
  height: 40px;
}

  .beat-container .beat {
    margin: 5px;
    width: 20px;
    height: 30px;
    border: 1px solid black;
  }

  .beat-container .beat {
    background-color: white;
  }

  .beat-container .beat:hover {
    background-color: gray;
  }

  .beat-container .beat.active {
    background-color: red;
  }

  .beat-container .beat.active:hover {
    background-color: orange;
  }

  .beat-container .beat.current {
    border: 2px solid red;
  }
