body {
  background-image: url("/img/escheresque_ste.png");
  margin: 0 auto;

  font-family: serif;
  font-size: 18px;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.beatbox-container {
}

.track-container {
  display: table;
}

  .track-container .select-instrument {
    display: table-cell;
    margin: 5px;
    width: 60px;
    height: 40px;
  }

  .track-container .beat-container .reset-button {
    margin: 5px;
    padding: 5px;
    width: 20px;
    height: 30px;
    border: 1px solid black;
  }

  .track-container .beat-container .reset-button {
    background-color: blue;
  }

  .track-container .beat-container .reset-button:hover {
    background-color: red;
  }

  .track-container .beat-container .reset-button:active {
    background-color: orange;
  }

.beat-container {
  display: inline-block;
  vertical-align: middle;
}

  .beat-container .beat {
    margin: 5px;
    width: 20px;
    height: 30px;
    border: 1px solid black;
  }

  .beat-container .beat {
    background-color: white;
  }

  .beat-container .beat:hover {
    background-color: gray;
  }

  .beat-container .beat.active {
    background-color: red;
  }

  .beat-container .beat.active:hover {
    background-color: orange;
  }

  .beat-container .beat.current {
    border: 2px solid red;
  }

.add-track {
  margin: 0px 30px;
  height: 50px;
  width: 100px;
  color: black;
}

.add-track {
  background-color: white;
}

.add-track:hover {
  background-color:gray;
}

.add-track:active {
  background-color:orange;
}

.remove-track {
  margin: 5px;
  width: 20px;
  height: 30px;
  border: 1px solid black;
}

.remove-track {
  background-color: black;
  color: white;
}

.remove-track:hover {
  background-color: gray;
}

.volume-slider-container {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}

.volume-slider {
  width: 100px;
}

/* .noUi-handle { */
/*   width: 10px !important; */
/*   height: 10px !important; */
/*   left: -5 !important; */
/*   top: 0 !important; */
/*   box-shadow: none !important; */
/*  */
/*   border: 1px solid #D9D9D9; */
/*   border-radius: 1px; */
/*   background: #FFF; */
/*   cursor: default; */
/*  */
/* } */
