* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('/img/pw_maze_black.png');
  margin: 0 auto;
  font-family: 'Lato', 'sans-serif';
}

a {
  color: white;
  text-decoration:none;
}

a:hover {
  color: darkgray;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  overflow: auto;
}

  .header .title {
    width: 50%;
    float: left;
  }

  .header .credits {
    width: 50%;
    float: right;
    color: white;
    text-align: right;
    margin-top: 20px;
  }

.global-controls {
  display: relative;
  background: darkgrey;
  padding: 10px;
  height: inherit;
  overflow: auto;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  /* border: 2px solid #0C7489; */
}

  .global-controls .stop-start  {
    padding: 10px;
    text-align: center;
    width: 10%;
    float: left;
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid;
  }

  .stop-start:hover {
    cursor: pointer;
    background: lightgrey;
  }

  .tempo {
    width: 20%;
    height: 42px;
    float: left;
    margin-left: 20px;
    background-color: lightgrey;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
  }

  .tempo.click {
    background-color: lightyellow;
  }

    .tempo button {
      border: none;
      height: 100%;
      cursor: pointer;
      background-color: black;
      color: white;
    }

    .tempo button:hover {
      background-color: grey;
    }

    .tempo button:active {
      background-color: lightgrey;
    }

    .tempo .tempo-value {
      position: relative;
      width: 60%; 
      float: left;
      text-align: center;

      /* vertical align */
      /* top: 50%; */
      /* -webkit-transform: translateY(-50%); */
      /*     -ms-transform: translateY(-50%); */
      /*         transform: translateY(-50%); */
    }

    .tempo .tempo-value .tempo-number {
      font-size: 20px;
    }

    .tempo .tempo-value .tempo-label {
      font-size: 12px;
    }

    .tempo .tempo-increase {
      display: inline-block;
      width: 20%;

      border-radius: 0px 5px 5px 0px;
      -moz-border-radius: 0px 5px 5px 0px;
      -webkit-border-radius: 0px 5px 5px 0px;
    }

    .tempo .tempo-decrease {
      display: inline-block;
      width: 20%;
      float: left;

      border-radius: 5px 0px 0px 5px;
      -moz-border-radius: 5px 0px 0px 5px
      -webkit-border-radius: 5px 0px 0px 5px
    }

  .global-controls .reset-beats {
    display: inline;
    background:#0C7489;
    float: right;

    border: 2px solid #0C7489;
  }

  .global-controls .reset-beats:hover {
    background: #119DA4;
  }

/* TRACKS */

.track-container {
  display: table;

  width: 100%;
  margin: 10px 0px;
  background: darkgrey;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

/* TRACK OPTIONS */

.track-options {
  display: table-cell;
  width: 135px;
  padding: 5px;
}

  .track-options .instrument {
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 5px 0px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #040404;
  }

  .track-options .volume-slider-container {
    display: inline-block;
    vertical-align: middle;
  }

  .track-options .volume-slider {
    width: 125px;
  }

  .track-options .reset-remove {
    display: relative;
    width: 100%;
    text-align: center;
    margin: 5px 0px;
  }

    .track-options .reset-remove button {
      display: inline-block;
      width: 37px; 
      text-align: center;
      cursor: pointer;

      border:1px solid #314179;
    }

    .track-options .reset-remove .remove-button {
      background: salmon;
    }

    .track-options .reset-remove .reset-button {
      background: skyblue;
    }

    .track-options .reset-remove .mute-button {
      background: lightyellow;
    }

    .track-options .reset-remove .mute-button.muted {
      background: lightgrey;
    }

.beats-container {
  display: table-cell;
  vertical-align: middle;
  width: 544px;
}

.beat-selection {
  display: table-cell;
  vertical-align: middle;
  margin: 2px;
  height: 100%;
  width: 25px;
}

.add-track {
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  text-align: center;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 2px solid lightgrey;
}

.add-track {
  color: lightgrey;
  border: 2px solid lightgrey;
  opacity: 0.3;
  filter:alpha(opacity=0);
}

.add-track:hover {
  cursor: pointer;
  opacity: 1.0;
  filter:alpha(opacity=100);
  -webkit-transition: all 1.0s ease;
  -moz-transition: all 1.0s ease;
  -o-transition: all 1.0s ease;
  transition: all 1.0s ease;
}

/* BEAT-SELECTION */

.beat-selection button {
  cursor: pointer;
  border: none;

  height: 40%;
  margin-right: 5px;
  padding: 0 auto;  

  background-color: black;
  color: white;
  /* border: 1px solid gray; */
}

.beat-selection button:hover  {
  background-color: gray;
}

.beat-selection button:disabled {
  background-color: gray;
}

.beat-selection button:active {
  background-color: lightgrey;
}

.beat-selection .decrease-beats {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
}

.beat-selection .increase-beats {
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}
