<template name="controls">
  <div class="global-controls">
    <div class="stop-start">
      {{#if isPlaying}}
        <i class="fa fa-stop fa-lg"></i>
      {{else}}
        <i class="fa fa-play fa-lg"></i>
      {{/if}}
    </div>
    <div class="tempo">
      <button class="tempo-decrease">
        <i class="fa fa-minus"></i>
      </button>
      <div class="tempo-value">{{tempo}} bpm</div>
      <button class="tempo-increase">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <!-- <div class="reset&#45;beats">R</div> -->
  </div>
</template>
