<template name="controls">
  <div class="controls-container">

  <div class="inner-control" id="global-controls">
    <div class="stop-start">
      {{#if isPlaying}}
        <i class="fa fa-stop fa-lg"></i>
      {{else}}
        <i class="fa fa-play fa-lg"></i>
      {{/if}}
    </div>
    <div class="tempo">
      <button class="tempo-decrease" {{decreaseDisabled}}>
        <i class="fa fa-minus"></i>
      </button>
      <div class="tempo-value">
        <div class="tempo-number">{{tempo}}</div>
        <div class="tempo-label">bpm</div>
      </div>
      <button class="tempo-increase" {{increaseDisabled}}>
        <i class="fa fa-plus"></i>
      </button>
    </div>
    {{#if ../private }}
    <div class="lock-room">
      {{#if ../locked }}
        <i class="fa fa-lock fa-lg"></i>
      {{else}}
        <i class="fa fa-unlock fa-lg"></i>
      {{/if}}
    </div>
    {{/if}}

    <div class="room-url">
      <textarea rows="1" onclick="this.focus();this.select()" readonly="readonly">{{roomUrl}}</textarea>
      <p class="url-label">
      {{#if controlsMessage}}
        {{controlsMessage}}
      {{else}}
        <br> 
      {{/if}}
      </p>
    </div>
  </div>

  {{> users}}

  </div>
</template>
