<template name="controls">
  <div class="global-controls">
    <div class="stop-start">
      {{#if isPlaying}}
        <i class="fa fa-stop fa-lg"></i>
      {{else}}
        <i class="fa fa-play fa-lg"></i>
      {{/if}}
    </div>
    <div class="tempo">
      <button class="tempo-decrease">
        <i class="fa fa-minus"></i>
      </button>
      <div class="tempo-value">
        <div class="tempo-number">{{tempo}}</div>
        <div class="tempo-label">bpm</div>
      </div>
      <button class="tempo-increase">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <!-- <div class="room&#45;info"> -->
    <!--   <div class="room&#45;title"> -->
    <!--     Title -->
    <!--   </div> -->
    <!--   <div class="room&#45;users"> -->
    <!--     N collaborators -->
    <!--   </div> -->
    <!-- </div> -->

    <div class="room-url">
      <textarea rows="1" cols="35" onclick="this.focus();this.select()" readonly="readonly">{{roomUrl}}</textarea>
      <p class="url-label">Invite your friends using the link above. No friends? <a href="{{roomUrl}}" target="_blank">Open this page in a new tab</a>!</p>
    </div>

  </div>
</template>
